.Page1 {
  height: 100vh;
  display: flex;
  background: url("../assets/banner-bg.png") no-repeat center center/cover;
  flex-direction: row;
  flex-wrap: nowrap;
}

.div11 {
  flex: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-top: 10vh;
  flex-wrap: nowrap;
}
.div11 img {
  width: 10vw;
  height: 10vh;
  animation: drop 1.5s ease;
}

.div14 {
  flex: 2;
  flex-direction: column;
  margin-top: 15vh;
  flex-wrap: nowrap;
}
.div14 h1 {
  color: #fff;
  font-size: 40px;
}
.div14 p {
  color: #fff;
  font-size: 25px;
}

.thumbnail {
  margin-top: 10vh;
  width: 25vw;
  height: 20vh;
  margin-left: auto;
  justify-content: center;
  text-align: center;
  background: url("../assets/video-thumb.png") no-repeat center;
  background-size: 80% 100%;
}

.palybutton {
  margin-top: 3vh;
  background: transparent;
  border: none;
}

.div13 {
  flex: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;

  margin-top: auto;
}
.div13 img {
  margin-top: 10vh;
  height: 90vh;
}

.div15 {
  flex: 1;
  flex-direction: column-reverse;
  margin-top: 2vh;
  margin-bottom: auto;
}
.logo {
  flex: 1;
  width: 15vw;
  height: 10vh;
  animation: left 1.5s ease;
}
.cloud {
  flex: 1;
  margin-top: 5vh;
  width: 10vw;
  height: 12vh;
  animation: drop 1.5s ease;
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(0vh);
  }
  100% {
    opacity: 1;
    transform: translateY(5vh);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(15vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}
@media only screen and (max-width: 768px) {
  .Page1 {
    height: 50vh;
  }
  .div13 img {
    width: 20vw;
    height: 40vh;
  }
  .div11 {
    margin-top: 5vh;
  }
  .div11 img {
    width: 8vw;
    height: 8vh;
  }
  .cloud {
    width: 5vw;
    height: 6vh;
  }
  .logo {
    width: 8vw;
    height: 5vh;
  }

  .div14 {
    margin-top: 7vh;
  }

  .thumbnail {
    margin-top: 7vh;
    width: 30vw;
    height: 10vh;
    margin-right: 2vw;
  }

  .div14 h1 {
    color: #fff;
    font-size: 15px;
  }
  .div14 p {
    color: #fff;
    font-size: 8px;
  }
}
