.Page2 {
  height: 100vh;
  display: flex;
  background: #d7eaf7;
  flex-direction: row;
}

.div21 {
  flex: 1;
  display: flex;

  flex-direction: column;
}
.cloudleft {
  height: 10vh;
  width: 10vw;
  margin-top: 2vh;
}

.lightleft {
  width: 10vw;
  margin-top: 22vh;
  overflow: hidden;
}

.div22 {
  flex: 4;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.div221 {
  flex: 1;
}
.div222 {
  flex: 4;
}

.calculator {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #696969;
  height: 70vh;
  width: 60vw;
}
.amount {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.amountLabel {
  color: #fff;
  margin: auto;
  flex: 1;
  font-weight: bold;
  font-size: 20px;
}

.amount input {
  padding: 2px;
  margin: 2vh 2vw 2vh 2vw;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 10px;
  background: #3f3f3f;
  flex: 5;
  font-size: 50px;
  height: 80%;
  width: 100%;
  color: white;
}

.terms {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.termsLabel {
  color: #fff;
  margin: auto;
  flex: 4;
  font-weight: bold;
  font-size: 20px;
}

.yearsLabel {
  margin-left: 2vw;
  color: #fff;
  margin: auto;
  flex: 2;
  font-weight: bold;
  font-size: 20px;
}

.rateLabel {
  color: #fff;
  margin: auto;
  flex: 3;
  font-weight: bold;
  font-size: 20px;
}
.rateLabel {
  font-size: 20px;
}
.total {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.totalLabel {
  color: #fff;
  margin: auto;
  flex: 1;
  font-weight: bold;
}

.total label {
  padding: 2px;
  margin: 2vh 2vw 2vh 2vw;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 10px;
  background: #3f3f3f;
  flex: 5;
  font-size: 50px;
  height: 80%;
  width: 100%;
  color: white;
  text-align: left;
}

.vl {
  border-top: 1px solid black;
}
.hl {
  height: 18vh;
  background-color: black;
  border: 1px solid;
}
.terms input {
  padding: 2px;
  margin: 2vh 2vw 2vh 2vw;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 10px;
  background: #3f3f3f;
  flex: 5;
  font-size: 50px;
  height: 80%;
  width: 100%;
  color: white;
}

.calculate button {
  margin-top: 2vh;
  background: yellow;
  width: 20vw;
  height: 10vh;
  font-size: 30px;
  border: none;
}

.div23 {
  flex: 1;
  display: flex;
  flex-direction: column;
  float: left;
}

.div223 {
  flex: 1;
  overflow: hidden;
}
.calcpoll1 {
  margin-right: 30vw;
}
.calcpoll2 {
  margin-left: 20vw;
}
.cloudright {
  width: 10vw;
  height: 10vh;
  margin-top: 2vh;
}

.lightright {
  width: 10vw;
  margin-top: 22vh;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .Page2 {
    height: 50vh;
  }
  .cloudleft {
    height: 5vh;
    width: 10vw;
    margin-top: 2vh;
  }

  .lightleft {
    height: 35vh;
    width: 10vw;
    margin-top: auto;
  }

  .div221 h1 {
    font-size: 15px;
  }
  .calculator {
    height: 35vh;
    width: 60vw;
  }
  .hl {
    height: 9vh;
  }

  .amountLabel {
    font-size: 10px;
  }

  .amount input {
    font-size: 25px;
  }

  .termsLabel {
    font-size: 10px;
  }

  .yearsLabel {
    font-size: 10px;
  }

  .rateLabel {
    font-size: 10px;
  }

  .total label {
    font-size: 25px;
  }

  .terms input {
    font-size: 25px;
  }

  .calculate button {
    height: 3vh;
    font-size: 10px;
  }

  .calcpoll1 {
    margin-right: 20vw;
  }
  .calcpoll2 {
    margin-left: 20vw;
  }
  .cloudright {
    height: 5vh;
    width: 10vw;
    margin-top: 2vh;
  }
  .total {
  }
  .lightright {
    height: 35vh;
    width: 10vw;
    margin-top: auto;
  }
}
