.Page4 {
  height: 70vh;
  display: flex;
  background: #d7eaf7;
  flex-direction: row;
}

.div4 {
  flex: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto;
}
.div4 img {
  height: 40vh;
}

.label {
  margin-top: 5vh;
  margin-bottom: auto;
}

@media only screen and (max-width: 768px) {
  .Page4 {
    height: 35vh;
  }
  .div4 img {
    height: 20vh;
  }

  .label {
    margin-top: 2vh;
    font-size: 15px;
  }
}
