.Page5 {
  height: 30vh;
  display: flex;
  background: #000;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.div51 {
  margin-top: 3vh;
  flex: 1;
}

.p {
  color: #fff;
}
.div51 img {
  height: 10vh;
}
.div52 {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .Page5 {
    height: 15vh;
  }

  .div51 img {
    height: 5vh;
  }
  .p {
    font-size: 8px;
  }
}
