.Page3 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #06aadf;
}

.div31 {
  flex: 2;
  text-align: center;
  margin-top: 2vh;
}
.div31 h1 {
  color: #fff;
}

.div32 {
  flex: 6;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.div321 {
  margin: auto;
  flex: 2;
}

.div321 img {
  height: 60vh;
  width: 40vw;
  margin: 0 5vw 0 5vw;
}

.div322 {
  color: #fff;
  justify-content: center;
  font-size: 1.2em;
  line-height: 1.4em;
  flex-wrap: nowrap;
}

.div322 p {
  margin-top: 5vh;
}
.div33 {
  flex: 2;
  color: #fff;
  text-align: center;
  margin-top: auto;
}

.div33 button {
  height: 5vh;
  width: 10vw;
  border: none;
  background: #06aadf;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .Page3 {
    height: 50vh;
  }

  .div31 {
    font-size: 10px;
    margin-top: 1vh;
  }
  .div321 img {
    height: 30vh;
    width: 40vw;
  }

  .div32 h1 {
    font-size: 15px;
  }
  .div32 p {
    font-size: 10px;
  }

  .div33 button {
    width: 30vw;
  }
}
